*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    height: 100vh;
}

.box{
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: yellow;
    border-radius: 100px;
}